.carrusel {
  width: 100%;
  max-width: 100%;
  height: auto;
  margin: 0 auto 30px;
  padding: 0 14.5vw;

  display: flex;
  flex-direction: row;
  overflow-x: hidden;

  // padding-left: 14.5vw;

  .card {
    width: 50vw;
    min-width: 50vw;
    height: calc((50vw / 10) * 5.5);
    margin: 5vw 5vw;

    //background-color: burlywood;
    transition: 1s ease;
    
    .content {
      width: 100%;
      height: 100%;
      padding: 10px 8px;
      background-size: cover;
      background-repeat: no-repeat;
      border-radius: 5px;

      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;

      color: var(--bg-color);

      .subtitle {
        margin: 10px auto;
        text-align: center;
        font-size: 2em;
        font-family: 'Merienda', cursive;
      }
      
    }
    
    .uno {
      background-image: linear-gradient(rgba(0, 0, 0, 0.63), rgba(0, 0, 0, 0.63)), url(../img/project-1.jpg);
    }
    .dos {
      background-image: linear-gradient(rgba(0, 0, 0, 0.63), rgba(0, 0, 0, 0.63)), url(../img/project-2.jpg);
    }
    .tres {
      background-image: linear-gradient(rgba(0, 0, 0, 0.63), rgba(0, 0, 0, 0.63)), url(../img/project-3.jpg);
    }
    .cuatro {
      background-image: linear-gradient(rgba(0, 0, 0, 0.63), rgba(0, 0, 0, 0.63)), url(../img/project-4.jpg); 
    }
    .cinco {
      background-image: linear-gradient(rgba(0, 0, 0, 0.63), rgba(0, 0, 0, 0.63)), url(../img/project-5.jpg); 
    }
  }


  .active {
    transform: scale(1.2);
    margin: auto 5vw;

    &:hover {
      cursor: pointer;
    }
  }



  &-btn {
    width: 10vw;
    //height: 80px;
    height: calc((50vw / 10) * 5.5);
    // background-color: rgba(0, 0, 0, 0.802);
    // border-radius: 50%;

    display: flex;
    justify-content: center;
    align-items: center;

    position: absolute;
    bottom: calc(80px + (100% / 8));

    i {
      color: var(--bg-color);
    }

    &:hover {
      cursor: pointer;
      transform: scale(1.2);
    }
  }

  .atras {
    left: 0;
  }

  .siguiente {
    right: 0;
    left: auto;
  }
}


@media screen and (max-width: 1075px) {
  .carrusel {
    .card {
      width: 60vw;
      min-width: 60vw;
      height: calc((60vw / 10) * 5.5);
      margin: 5vw 5vw;

      .content {
        .subtitle {
          display: none;
        }

        p {
          font-size: .6em;
        }
      }
    }
  }
}