body {
  overflow-x: hidden;
}

main {
  #profile, #skills {
    width: 100%;
    height: 100vh;
    padding: 60px 0 10px;
  }

  /* ===========================================
                paneles 
   ===========================================*/

  .full-screen {
    display: block;
    width: 100%;
    height: 100vh;
  }

  .contenedor-paneles {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    padding: 0;
    overflow: hidden;
    /* CAMBIAR EL VALOR A NUMERO DE SECCIONES */
    width: 200%;
  }


  .panel {
    position: relative;
    width: 100vw;
    height: 100vh;
    padding-top: 10px;
    padding-bottom: 80px;

    .title {
      text-align: right;
      padding-bottom: 5px;
      margin-right: 30px;
      font-size: 2em;
    }

    hr {
      width: 100%;
      height: 2px;
      outline: none;
      border: none;
      background-color: var(--primario);
    }

    .img-profile {
      width: 150px;
      min-width: 150px;
      height: 150px;
      min-height: 150px;

      position: absolute;
      top: 50px;
      //left: calc(50% - 75px);
      right: auto;

      background-image: url('../img/profile.jpg');
      background-size: cover;
      background-repeat: no-repeat;

      border-radius: 50%;

      outline: 5px solid rgba(255, 255, 255, 0.529);
    }

    &-content {
      width: 80%;
      margin: 20px auto;
      // border: 1px solid red;

      .subtitle {
        text-align: center;
        font-size: 2em;
        font-family: 'Merienda', cursive;
      }

      &-education {
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        
        h4 {
          font-family: 'Roboto', sans-serif;
          font-size: 1.5em;
          margin: 10px auto 0px 0px;
        } 

        span {
          font-size: .8em;
          font-style: italic;
          color: var(--primariodark);
        }

        .degree, .school {
          display: flex;
          flex-direction: column;
          justify-content: center;

        }
        
        .degree {
          flex: 30%;
          align-items: center;
          
          h4 {
            margin: 10px auto;
          }
        }

        .school {
          flex: 70%;

          p {
            margin: 5px auto 5px 0px;
          }
        }
      }

      &-skills {
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        margin-top: 20px;
        // border: 1px solid red;

        .skills-item {
          flex: 50%;
          height: 50px;

          // border: 1px solid yellow;

          h5 {
            font-family: 'Roboto', sans-serif;
          }

          .progress-container {
            width: 90%;
            height: 10px;
            margin: 5px auto 3px 0;
            border-radius: 4px;

            background-color: gray;

            .progress-bar {
              height: 100%;
              border-radius: 4px;
              background-color: var(--primariolight);
            }
          }
        }

      }
    }
    
  }

}


/* ===========================================
    ESTILOS QUE ADOPTA EN PANTALLAS PEQUENAS 
   ===========================================*/
@media screen and (max-width: 1075px) {
  .contenedor-paneles {
    max-width: 100vw;
    height: auto;
    display: flex;
    flex-direction: column;
  }

  .panel {
    display: block;
    min-width: 100%;
    height: 100vh;
    margin: 0;

    .img-profile {
      left: calc(0% + 20px);
    }

    .panel-content {
      &-skills {

        .skills-item {
          flex: 100%;
        }
      }
    }
  }
}

@media screen and (min-width: 1076px) {
  .contenedor-paneles {
    height: 100vh;
  }

  .panel {

    .img-profile {
      left: calc(50% - 75px);
    }
  }
}