.tabla {
  width: 100%;

  caption {
    color: var(--primariodark);
    padding: 0 0 15px;
    font-size: 1.2em;
    text-align: center;
  }
  
  th, td{
    text-align: center;
  }

  th {
    border-bottom: 1px solid var(--primariolight);
    padding-bottom: 8px;
  }
}