/* COLORES */
:root {
  --primario: #079eb5;
  --secundario: rgba(63,199,220,.5);
  --fuerte: rgba(0, 0, 255, 0.952);

  --primario: #bd0812;
  --secundario: #c41c24;
  --fuerte: rgb(150, 0, 0);

  --background: #e5e5e5;

  --dark-solid: #212121;
  --dark-primary: #0303037e;
  --dark-primary-solid: #030303;
  --dark-secondary: #666;

  --text-primary: #fff;
  --text-secondary: #aaa;
}

/* ESTILOS GENERALES */
* {
  font-family: sans-serif;
  font-size: 1.1em;
  -ms-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box;
}
  
body {
  margin: 0;
  padding: 0;
  min-width: 100%;
  min-height: 100vh;
  background-color: var(--dark-solid);
  display: grid; 
  grid-template-rows: auto 1fr auto;
  color: var(--text-secondary);
}
  
/*header,*/
footer {
  width: 100%;
  max-width: 100%;
  margin: auto;
  text-align: center;
}

footer {
  padding-bottom: 2em;
}

.botonera {
  display: flex;
  min-height: 10vh;
  max-width: 80vw;
  margin: 2em auto;
  padding: 2em auto;
  align-items: center;
  justify-content: space-around;
}

.regresar {
  background-color: var(--dark-secondary);
  padding: 10px 15px;
  margin: 2px 5px;
  color: var(--text-primary)
}

.regresar:hover {
  color: var(--text-secondary);
}


/* ANIMACIONES 01 */
.encabezado-animado{
  width: 100%;
  height: 100vh;
  display: block;
  padding-top: 40vh;
}

.hero {
  width: 100%;
  height: 100vh;
  justify-content: center;
  align-items: center;
}

.hero::before{
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;

  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  display: flex;
  
  background-image: url(../img/control-center-1054460_1920.jpg);
  filter: grayscale(100%);
}



.titulo-animado {
  margin-top: 1em;
  font-size: 2.5em;
  font-weight: bolder;
  letter-spacing: 1em;
  display: inline-block;
  padding: 5px 20px;
  background: var(--dark-primary-solid);
  border-bottom: 10px solid;
  border-image-slice: 1;
  border-image-source: linear-gradient(to left, transparent, var(--primario), transparent);
  transform: translate(-100%);
  /*transform: translate(-100%);*/
  position: relative;

  z-index: 100;
}

.subtitulo-animado {
  display: block;
  max-width: 70%;
  margin-top: 5px;
  letter-spacing: 8px;
  transform: translate(-100%, -80px);
  color: var(--text-primary);
  background-color: rgba(0, 0, 0, .0);
  padding: 5px 0;
  
  z-index: 150;
  /*border: 1px solid red;*/
}

.arrow-down {
  /*border: 1px solid red;*/
  font-size: 3em;
  margin-bottom: 10px;
  text-align: center;
  opacity: 0;
  color: var(--text-primary);
}

@media screen and (max-width: 850px) {
  .titulo-animado {
    letter-spacing: .2em;
  }

  .subtitulo-animado {
    transform: translate(-100%, -50px);
    letter-spacing: 0px;
    max-width: 60%;
  }
}

@media screen and (max-width: 700px) {
  .titulo-animado {
    letter-spacing: .1em;
  }

  .subtitulo-animado {
    transform: translate(-100%, -80px);
    letter-spacing: 0px;
    max-width: 90%;
  }
}



.center {
  width: 90%;
  margin: 20px auto 50px 20px;
  text-align: justify;
  opacity: 0;
  transform: translate(0px, 100px);
}

.parallax {
  width: 100%;
  height: 100vh;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
}

.segundo {
  background-image: url(../img/parallax02.jpg);
  filter: grayscale(0%);
}

.tercero {
  background-image: url(../img/datacenter-2803200_1920.jpg);
  filter: grayscale(0%);
}

.subtitulo {
  letter-spacing: 8px;
  color: var(--text-primary);
  background-color: rgba(0, 0, 0, .7);
  padding: 5px 5px;
  font-size: 2em;
  z-index: 150;
  /*border: 1px solid red;*/
}